/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #AC3B61;
$primary-color: #123C69;
$info-color: #3f83cc;
$success-color: #EDC7B7;
$secondary-color: #BAB2B5;
$light-color: #EEE2DC;
$white-color: #f9f9f9;
$grey-color: #47333b;
$dark-color: #181114;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
