/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #f9aa33;
$primary-color: #4f6572;
$info-color: #3f83cc;
$success-color: #f7d5a2;
$secondary-color: #BAB2B5;
$light-color: #EEE2DC;
$white-color: #f9f9f9;
$grey-color: #344955;
$dark-color: #232f34;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
